<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
    <title>Museu de Ciências Morfológicas</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <main>
        <section>

            <img src="./assets/logo-museu.png" alt="Logo do museu morfológico">
            <div>
                <a href="/museu">ACESSE O MUSEU VIRTUAL</a>
                <a href="/realidade-aumentada">REALIDADE AUMENTADA</a>
            </div>
        </section>
    </main>
</body>
</html>