<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Museu Morfológico</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <main>
        <section>

            <img src="./assets/logo-museu.png" alt="Logo do museu morfológico">
            <div>
                <a href="/museu">Museu Virtual</a>
                <a href="/">Realidade Aumentada</a>
            </div>
        </section>
    </main>
</body>
</html>