<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Museu Digital</title>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
</head>
<body>
    <a-scene>

        <a-plane position="0 0 -5" color="blue" height="5" width="5" rotation="0 0 0"></a-plane>
        <a-plane position="5 0 0" color="blue" height="5" width="5" rotation="0 0 0"></a-plane>
        <a-plane color="grey" height="5" width="5" rotation="-90 0 0"></a-plane>
        <a-camera look-controls-enabled="true"></a-camera>
    </a-scene>
</body>
</html>