* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: bg-imgs 35s infinite;
	background-size: cover;
}

main section {
	padding: 35px;
	width: 450px;
	background-color: white;
	display: flex;
	flex-direction: column;
}
main section img {
	margin: 30px auto -20px auto;
}
main div {
	margin: 65px auto 10px auto;
}
main div a {
	display: inline-block;
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 5px;
	border: none;
	color: #a0a642;
	font-weight: lighter;
	font-size: 18px;
}
main div a::before,
main div a::after {
	content: '';
	background-color: #a0a642;
	display: block;
	height: 1px;
	width: 100px;
	margin: 15px auto;
	transition: 1.5s;
}
main div a:hover::before,
main div a:hover::after {
	width: 220px;
}

@keyframes bg-imgs {
	0% {
		background-image: url("/assets/museu1.jpg");
	}
	20% {
		background-image: url("/assets/museu2.jpg");
	}
	40% {
		background-image: url("/assets/museu3.jpeg");
	}
	60% {
		background-image: url("/assets/museu4.jpg");
	}
	80% {
		background-image: url("/assets/museu5.jpg");
	}
	100% {
		background-image: url("/assets/museu1.jpg");
	}
}
